<model>
    <name>Generic Building 2</name>
    <version>1.0</version>
    <sdf version='1.6'>model.sdf</sdf>
    <description>
        Base model downloaded from: https://www.blenderkit.com/get-blenderkit/c1659700-9032-4101-88b5-099abbfdf670/.
        Customized in Blender.
    </description>
</model>