<?xml version="1.0"?>
<robot name="rb_theron"
	xmlns:xacro="http://www.ros.org/wiki/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import rbtheron macro -->
	<xacro:include filename="$(find robot_description)/bases/rbtheron/rbtheron_base.xacro"/>

	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

	<!-- Import Gazebo Stuff -->
	<xacro:include filename="$(find robot_description)/urdf/structures/common.gazebo.xacro" />

	<!-- Import Elevator -->
	<xacro:include filename="$(find robot_description)/urdf/structures/elevator/rb_theron_elevator.urdf.xacro"/>

    <xacro:include filename="$(find robot_description_simulation)/ros2_control/classic/rbtheron_control.urdf.xacro"/>
    <xacro:include filename="$(find robot_description_simulation)/ros2_control/ignition/rbtheron_control.urdf.xacro"/>

	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->

	<!-- Second we define all the parameters and arguments to customize the robot characteristics -->

	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<!-- ELEVATOR PARAMETERS -->
	<xacro:property name="elevator_x" value="0.0" />
	<xacro:property name="elevator_y" value="0.0" />
	<xacro:property name="elevator_z" value="0.2238" />

    <xacro:arg name="use_gazebo_classic" default="false" />
    <xacro:arg name="use_gazebo_ignition" default="false" />
    <xacro:arg name="gpu" default="true" />
  	<xacro:arg name="namespace" default="robot" />

    <xacro:arg name="has_elevator" default="false" />

	<!-- Here we create the robot using the xacro:macro imported at the beggining of this file -->

	<xacro:rbtheron hq="${hq}"/>

	<!-- ELEVATOR_PLATFORM -->
	<!-- <xacro:if value="$(arg has_elevator)">
		<xacro:elevator_platform robot_id="rbtheron_elevator" parent="rbtheron_base_link" hq="${hq}">
			<origin xyz="${elevator_x} -${elevator_y} ${elevator_z}" rpy="1.5708 0 1.5708"/>
		</xacro:elevator_platform>
	</xacro:if> -->

	<!-- SENSORS -->

	<!-- <xacro:sensor_vectornav prefix="rbtheron_" parent="rbtheron_base_link" topic="imu/data">
		<origin xyz="-0.1975 0.0 0.1598" rpy="0 0 0"/>
    </xacro:sensor_vectornav> -->

    <xacro:if value="$(arg use_gazebo_classic)">
        <xacro:rbtheron_gz_classic_control namespace="$(arg namespace)"/>
    </xacro:if>

    <xacro:if value="$(arg use_gazebo_ignition)">
        <xacro:rbtheron_gz_ignition_control namespace="$(arg namespace)"/>
    </xacro:if>

</robot>
