<model>
    <name>Realistic Empty Building</name>
    <version>1.0</version>
    <sdf version='1.6'>model.sdf</sdf>
    <description>
        Base model downloaded from: https://www.blenderkit.com/get-blenderkit/5cb2f059-b2f3-4977-89d1-fdcab641bdcc/.
        Customized in Blender.
    </description>
</model>