<?xml version="1.0"?>
<launch>
    <arg name="robot_model" default="$(optenv ROBOT_MODEL summit_xl)"/>
    <arg name="robot_id" default="$(optenv ROBOT_ID robot2)"/>
    <arg name="map_prefix" default="robot"/>
    <arg name="launch_loc_nav" default="true"/>

    <include file="$(find robot_sim)/launch/robots/$(arg robot_model)_complete.launch">
        <arg name="launch_mapserver" value="false"/>
        <arg name="launch_loc_nav" value="$(arg launch_loc_nav)"/>
        <arg name="robot_id" value="$(arg robot_id)"/>
        <arg name="map_prefix" value="$(arg map_prefix)"/>
        <arg name="spawn_world" value="false"/>
    </include>


</launch>